@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  
  /* Cores Customizadas Dra. Jaíne */
  --color-gold-50: #fbfaf7;
  --color-gold-100: #f7f4ef;
  --color-gold-200: #eee9df;
  --color-gold-500: #b9a17a;
  --color-gold-600: #a88a62;
  --color-gold-700: #8c7152;
  --color-gold-950: #32281e;
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.text-balance {
  text-wrap: balance;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
